// =============================================================================
// Fonts
// =============================================================================

@charset "UTF-8";

// Noto sans KR
// Get this compressed font from http://martian36.com/1408

@font-face {
    font-family: 'notokr';
    src: asset_url('notokr/Thin/notokr-thin.eot');
    src: 
      asset_url('notokr/Thin/notokr-thin.eot?#iefix') format('embedded-opentype'),
      asset_url('notokr/Thin/notokr-thin.woff2') format('woff2'),
      asset_url('notokr/Thin/notokr-thin.woff') format('woff'),
      asset_url('notokr/Thin/notokr-thin.ttf') format('truetype'),
      asset_url('notokr/Thin/notokr-thin.svg#notokr-thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'notokr';
    src: asset_url('notokr/Light/notokr-light.eot');
    src: 
      asset_url('notokr/Light/notokr-light.eot?#iefix') format('embedded-opentype'),
      asset_url('notokr/Light/notokr-light.woff2') format('woff2'),
      asset_url('notokr/Light/notokr-light.woff') format('woff'),
      asset_url('notokr/Light/notokr-light.ttf') format('truetype'),
      asset_url('notokr/Light/notokr-light.svg#notokr-light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'notokr';
    src: asset_url('notokr/DemiLight/notokr-demilight.eot');
    src: 
      asset_url('notokr/DemiLight/notokr-demilight.eot?#iefix') format('embedded-opentype'),
      asset_url('notokr/DemiLight/notokr-demilight.woff2') format('woff2'),
      asset_url('notokr/DemiLight/notokr-demilight.woff') format('woff'),
      asset_url('notokr/DemiLight/notokr-demilight.ttf') format('truetype'),
      asset_url('notokr/DemiLight/notokr-demilight.svg#notokr-demilight') format('svg');
    font-weight: 350;
    font-style: normal;
}

@font-face {
    font-family: 'notokr';
    src: asset_url('notokr/Regular/notokr-regular.eot');
    src: 
      asset_url('notokr/Regular/notokr-regular.eot?#iefix') format('embedded-opentype'),
      asset_url('notokr/Regular/notokr-regular.woff2') format('woff2'),
      asset_url('notokr/Regular/notokr-regular.woff') format('woff'),
      asset_url('notokr/Regular/notokr-regular.ttf') format('truetype'),
      asset_url('notokr/Regular/notokr-regular.svg#notokr-regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'notokr';
    src: asset_url('notokr/Medium/notokr-medium.eot');
    src: 
      asset_url('notokr/Medium/notokr-medium.eot?#iefix') format('embedded-opentype'),
      asset_url('notokr/Medium/notokr-medium.woff2') format('woff2'),
      asset_url('notokr/Medium/notokr-medium.woff') format('woff'),
      asset_url('notokr/Medium/notokr-medium.ttf') format('truetype'),
      asset_url('notokr/Medium/notokr-medium.svg#notokr-medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'notokr';
    src: asset_url('notokr/Bold/notokr-bold.eot');
    src: 
      asset_url('notokr/Bold/notokr-bold.eot?#iefix') format('embedded-opentype'),
      asset_url('notokr/Bold/notokr-bold.woff2') format('woff2'),
      asset_url('notokr/Bold/notokr-bold.woff') format('woff'),
      asset_url('notokr/Bold/notokr-bold.ttf') format('truetype'),
      asset_url('notokr/Bold/notokr-bold.svg#notokr-bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'notokr';
    src: asset_url('notokr/Black/notokr-black.eot');
    src: 
      asset_url('notokr/Black/notokr-black.eot?#iefix') format('embedded-opentype'),
      asset_url('notokr/Black/notokr-black.woff2') format('woff2'),
      asset_url('notokr/Black/notokr-black.woff') format('woff'),
      asset_url('notokr/Black/notokr-black.ttf') format('truetype'),
      asset_url('notokr/Black/notokr-black.svg#notokr-black') format('svg');
    font-weight: 900;
    font-style: normal;
}

// Cormorant Garamond
// =============================================================================

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  src: asset_url('cormorant-garamond/Cormorant-Garamond-700.eot');
  src:
    asset_url('cormorant-garamond/Cormorant-Garamond-700.eot?#iefix') format('embedded-opentype'),
    local('Cormorant Garamond Medium'),
    local('Cormorant-Garamond-600'),
    asset_url('cormorant-garamond/Cormorant-Garamond-700.woff2') format('woff2'),
    asset_url('cormorant-garamond/Cormorant-Garamond-700.woff') format('woff'),
    asset_url('cormorant-garamond/Cormorant-Garamond-700.ttf') format('truetype');
}

// Lato
// =============================================================================

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: asset_url('lato/Lato-300.eot');
  src:
    asset_url('lato/Lato-300.eot?#iefix') format('embedded-opentype'),
    local('Lato Light'),
    local('Lato-300'),
    asset_url('lato/Lato-300.woff2') format('woff2'),
    asset_url('lato/Lato-300.woff') format('woff'),
    asset_url('lato/Lato-300.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: asset_url('lato/Lato-regular.eot');
  src:
    asset_url('lato/Lato-regular.eot?#iefix') format('embedded-opentype'),
    local('Lato Regular'),
    local('Lato-regular'),
    asset_url('lato/Lato-regular.woff2') format('woff2'),
    asset_url('lato/Lato-regular.woff') format('woff'),
    asset_url('lato/Lato-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: asset_url('lato/Lato-700.eot');
  src:
    asset_url('lato/Lato-700.eot?#iefix') format('embedded-opentype'),
    local('Lato Bold'),
    local('Lato-700'),
    asset_url('lato/Lato-700.woff2') format('woff2'),
    asset_url('lato/Lato-700.woff') format('woff'),
    asset_url('lato/Lato-700.ttf') format('truetype');
}
